@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Hind;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Rubik;
}
.navbar-collapse{
  font-size: 13px;
}
.navbar li {
  margin-right: 50px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.navbar-brand{
  margin-right: 13rem;
}
.btn-contact {
  background: #090f3f;
  border-radius: 30px;
  padding: 9px 20px;
}
.nav-link {
  padding: 0;
  margin: 0;
}
.home-header {
  background-image: url('../img/homebackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  color: #fff;
}
.offer {
  display: flex;
  align-items: center;
}
.offer-text > h1 {
  font-size: 75px;
}
.purple {
  height: 5px;
  width: 100px;
  background-color: #cf1257;
  display: inline-block;
  margin: 5px;
}
.offer-text {
  width: 100%;
  font-size: 18px;
  margin-top: 130px;
}
.offer-text > p {
  width: 350px;
}
.offer-img {
  position: relative;
  width: 500px;
}

.btn-warning {
  border-radius: 30px;
  padding: 15px 36px;
  color: #fff !important  ;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px 0px #00000040;
  color: #000;
}
.btn-white {
  border-radius: 30px;
  padding: 15px 36px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px 0px #00000040;
  color: #000;
}
.btn-white:hover {
  background-color: #f8ba1a;
}
.btn-dark {
  padding: 15px 36px;
  color: #fff !important;
  box-shadow: 0px 1px 2px 0px #00000040;
  width: 350px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.btn-offer {
  background-color: #f8ba1a;
  border-radius: 30px;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
}
.btn-offer:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.btn-active {
  background-color: #f8ba1a;
  border-radius: 30px;
  padding: 15px 54px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn-auth {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px 54px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
}
.mt-minus {
  margin-top: -15px;
}
.section-text h1 {
  font-size: 50px;
  margin: 40px 0;
}
.section-text {
  width: 770px;
  margin: auto;
}
section {
  margin-bottom: 130px;
}
.card-vertical {
  width: 300px;
  padding: 40px;
  margin: 0 20px 0 0;
  box-shadow: 0px 0px 35px 0px #00000026;
}
.card-vertical img {
  width: 80px;
  margin: 50px auto;
}
.card-vertical-text {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.mt {
  margin-top: 30px;
}
.range-legend {
  display: flex;
  justify-content: space-between;
}
.range-legend p {
  width: 190px;
  text-align: left;
  align-self: flex-end;
}
.range-legend-bottom {
  margin-left: 180px;
}
.range-legend-top {
  margin-right: 190px;
}
.rangeslider-wrap {
  margin-top: 100px;
}
.gallery {
  margin-top: 100px;
  justify-content: space-between;
}
.section-world {
  background-image: url('../img/WorldBack.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}
.world-text-wrap {
  color: #fff;
  width: 460px;
  margin-left: 40px;
}
.world-text-wrap p {
  padding-left: 15px;
}
.world-text span {
  margin: 20px;
}
.world-text strong {
  color: #cf1257;
}
.gallery-world {
  display: flex;
  margin-left: 30px;
}
.gallery-world img {
  margin: 15px;
}
.card-horizontal {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  flex-direction: row;
  margin-top: 20px;
  box-shadow: 0px 0px 35px 0px #00000026;
}
.card-horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.autoplay-carusel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.autoplay-carusel img {
  margin: auto;
}
.btn-carusel {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
td .purple-text {
  color: #cf1257;
  margin-left: 50px;
  vertical-align: middle;
}
.purple-text {
  color: #cf1257;
}
.chart-table td {
  position: relative;
}

.overlay {
  position: absolute;
  top: -25px; /* chartArea top  */
}
.chart {
  width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.miner-btn-text {
  margin-left: 30px;
  width: 200px;
  text-align: left;
}
.miner-text-bar > span {
  margin-right: 100px;
}
.miner-section {
  background-image: url('../img/presentBack.svg');
  height: 120vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  color: #fff;
}
.home-footer {
  background-image: url(../img/homeFooterBack.svg);
  height: 120vh;
  display: flex;
  color: #fff;
  justify-content: flex-end;
  flex-direction: column;
}
.footer-form {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group-footer {
  background: #fff;
  border-radius: 50px;
  display: flex;
  padding: 5px;
}
.footer-form input[type='text'] {
  width: 500px;
  border: none;
  background-color: transparent;
}
.footer-form input[type='checkbox'] {
  background: none;
  border-color: #fff;
}
.social ul li {
  list-style: none;
  padding: 17px;
  width: 60px;
  height: 60px;
  background-color: rgba(11, 6, 12, 0.5);
}
.social {
  margin: 100px auto 0;
}

.auth-header {
  background-image: url('../img/BackGround.svg');
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.auth-form {
  width: 450px;
}

.auth-form input {
  padding: 15px;
}
.auth-container{
  margin: 100px auto;
}
.isregist , .isfogot{
  display: none;
}